<div class="row">
  <div class="small-6 large-12 columns">
    <div style="text-align:center" class="panel callout radius1">
      <h1>We're here to listen</h1>
      <h2><a href=listen@WCID.org>listen@WCID.org</a></h2>
    </div>
    <%= link_to "Go Back", homes_path %>
  </div>
</div>
