<div class="row">
  <div class="small-3 large-6 columns">
    <div style="text-align:center" class="panel callout radius1">
      <h1>WCID</h1>
      <h1></h1>
      <h2>helping</h2>
      <h2>people</h2>
      <h2>help</h2>
    </div>
    <%= link_to "Go Back", homes_path %>
  </div>
  <div class="small-3 large-6 columns">
    <div style="text-align:center" class="panel callout radius2">
      <h1>About Us</h1>
      <h2>WCID's mission is quite simply to connect volunteers to community events.
        We strongly believe that many people want to volunteer, and by making the process
        easier great things can be accomplished. This site is dedicated to
        achieving this goal by offering a forum specifically for volunteer events. Users
        or their organizations can join the site and create events, allowing anyone to browse
        volunteering opportunities. Through this cost effective and efficient method we will
        create a sustainable hub for volunteers and events to connect and build a greater future.</h2>
    </div>
  </div>
</div>
